/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
    	compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

// &i2c0 {
//     status = "okay";
//     clock-frequency = <I2C_BITRATE_FAST>;
//     sda-pin = <7>;
//     scl-pin = <8>;

//     max86150: max86150 {
//         status = "okay"
//     };
// };