/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
        
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
    	compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};

&sercom4 {
    max86150: max86150@94 {
        compatible = "atmel";
        status = "okay";
        reg = <94>;
        label="MAX86150";
        interrupts = < 0xd 0x0 >;
        clocks = < &gclk 0x18 >, < &pm 0x20 0x6 >;
    };
};
